.album{
    margin: 10px 10px;
    background: #fff;
    padding: 10px;
    box-shadow: 3px 5px 5px 1px #eee;
    flex: 10%;
    transition: 0.3s;
    
    .album-cover{
        min-height: 300px;
        min-width: 200px;
        background-position: center;
        background-size: cover;
    }

    .album-info{
        justify-content: space-between;
        display: flex;
        align-items: center;
        min-height: 30px;
        width: 250px;
        padding:5px 5px;

        p{
            margin: 0;
        }
        .album-title{
            font-weight: bold;
            font-size: 15px;
        }
        .album-like-icon{
            margin-top: 10px;
            color:$secondary;
            font-size: 30px;
        }
    }
}
.album:hover{
    transform: scale(1.04);
    box-shadow: 3px 5px 5px 1px #bbb;
    cursor: pointer;
}