.home{
    display: flex;
    justify-content: space-between;
    height: 99vh;
    overflow: hidden;
    background: #fafafa;
    .sidebar-section{
        // position: fixed;
        flex: 18%;
        height: 99%;
        box-shadow: 2px 1px 10px #eee;
    }
    .content-section{
        flex: 82%;
        height: 99%;
        justify-content: space-between;
        overflow: auto;
        
    }
    .content-section::-webkit-scrollbar {
        width: 10px;
        margin: 5px;
    
    }
    .content-section::-webkit-scrollbar-thumb {
    
        background: #777;
        border-radius: 30px;
        
    }
    .content-section::-webkit-scrollbar-track {
    
        background: #eee;
        
    }
    .searchBar-section{
        display: flex;
        justify-content: center;
        flex: 80%;
    }

    .avatar-section{
        flex: 20%;
        font-weight: bold;
    }
    .top{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: sticky;
        top:0;
        background-color: #fafafa;
        z-index: 3;
    }
    .middle{
    }
    
}
.player{
    position: fixed;
    bottom: 2px;
    background: #fff;
    width: 80%;
  }

    //tablet
    @media (max-width:1300px) {

    }
    //mini tablet
    @media (max-width:955px) {
        .player{
            bottom: 9%;
            width: 99%;
            min-height:7% ;
            background: #fafafa;
        }
        .bottom-bar{
            display: block;
        }
        .top{
            justify-content: space-between !important;
            // border: 2px solid red;

                .searchBar-section{
                    display: flex;
                    justify-content: center;
                    flex: 80%;
                    align-items: center;
                
                .searchBar{

                    border-radius: 5px;
                    margin: 0 0;
                    padding: 5px;
                    max-height: 25px;
                    input{
                        width: 20em;
                        
                    }
                
                
                }
            }
       
        }
    }   
    
    @media (max-width:600px) {
        .top{
           
            width: 98% !important;
            // background-color: red !important;
        }
        
        .avatar-section{
            flex: 10%;
        }
      .avatar{
        .username{
            display: none;
        }
      }
      .searchBar{
        margin: 0 1px;
      }
    }
    @media (max-width:400px) {
        .content-section{
            height: 85% !important;
        }
        .searchBar-section{
            height: 60px;
            width: 100px !important;
            justify-content: center;
            .searchBar{
                // display: none !important;
                width: 70%;
                margin: 0 1em;
                input{
                    width: 16em !important;
                    color:#777 !important;

                }
            }
           
        }

        .avatar-section{
            display: block;
            position: absolute;
            right: 10px;
        }
      .avatar{
    .avatar-picture{
        display: none;
    }
      
      }
    }
    .search-music{
        margin: 0 0 !important;
     }
    .search-music-body{
       margin: 0 0 !important;
    }
    