.home{
    display: flex;
    justify-content: space-between;
    height: 99vh;
    overflow: auto;
    background: #fafafa;
    .sidebar-section{
        // position: fixed;
        flex: 18%;
        height: 99%;
        box-shadow: 2px 1px 10px #eee;
    }
    .content-section{
        flex: 82%;
        height: 99%;
        justify-content: space-between;
        // overflow: auto;
        // border: 2px solid green;
    }
    .searchBar-section{
        display: flex;
        justify-content: center;
        flex: 80%;
    }

    .avatar-section{
        flex: 20%;
        font-weight: bold;
    }
    .top{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: sticky;
        top:0;
        background-color: #fafafa;
    }
    .middle{
    }
    
}