.albums{
    margin: 1em 2em;
        .albums-header{
            display: flex;
            justify-content: space-between;
           h1{
            font-size: 20px;
            }
        }
        .albums-body{
            display:flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: flex-start;
           
        }
        
        
}
 //tablet
 @media (max-width:1300px) {
    .albums{
        margin: 0 10px;
    }
}
//mini tablet
@media (max-width:955px) {
    .albums-body{
        flex-direction: column !important;
        align-items: center;

        .album{
            width: 90%;
        }
    }
    

}   

@media (max-width:600px) {
    .album{
        flex: 100%;
    }
}