.home-music{
    margin: 1em 2em;

    .home-music-header{
        margin-bottom: 2em;
        h1{
            font-size: 20px;
        }
    }
}
    //tablet
    @media (max-width:1300px) {
        .home-music{
            margin: 0 10px;

            .music-tile{
            
                .right{
                    // border: 2px solid red;
                    p{
                        margin: 0 5px;
                    }
                }
            }
        }
    }
    //mini tablet
    @media (max-width:955px) {

    }   
    
    @media (max-width:600px) {
        .music-tile{
            .pic{
                display: none;
            }
        }
    }