.middle{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 10px;
        .playlists{
            margin: 1em 3em;
            .playlists-header{
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                h1{
                    font-size: 20px;
                }
                p{
                
                }
            }
            .playlists-body{
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-around;               
            }
        }
    }
    //tablet
    @media (max-width:1300px) {
        .playlists{
            margin: 1em 0;
            justify-content: space-between;
        }
        .playlist{
            // display: none;
            height: 10em;

        }
    }
    //mini tablet
    @media (max-width:955px) {
        .playlists{
            margin: 0em 5px !important ;
        }
    }   
    
    @media (max-width:600px) {
        .playlist{
        margin:1em 5px;}
    }