.searchBar{
    background:#fefefe;
    border:2px  solid #eee;
    border-radius: 5px;
    margin: 1em 1em;
    padding: 5px;
    max-height: 25px;
    input{
        width: 30em;
        border: none;
        outline: none;
        text-align: center;
        font-weight: bold;
        color:#555
    }

}