.side-bar{
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    // border: 2px solid red;
    margin: 5px 1px;
    padding: 0 4em;

    .menu,.settings{
      ul{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;

      }
    }
    
    .menu{

        li{
            margin: 0;
            padding: 0;
            display: block;

            .nav-icon{
            
                color:$primary;
                font-size: 1.4em;
            }

            .nav-element{
                margin: 0 10px;
                font-weight: bold;
                align-items: center;
                font-size: 16px;
            }
        }
    }
    .settings{

        display: flex;
        flex-direction: column;
    

        li{
            font-weight: bold;
            align-items: center;
            display: flex;
            justify-content: space-between;
            .toggler{
                font-size: 30px;
                padding-top: 6px;
            }

            img{
                width:30px;
            }
        }
    }

}